<!DOCTYPE html>
<html>
<head>
    <title>ERROR</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>NOTICE - Not A Usable Endpoint!</h1>
<p>You are likely seeing this message because you have attempted to navigate to a page that doesn't exist, or are attempting to consume a non-existant endpoint for the Robot Challenge API.  Please check the documentation and/or report this error to the administrator.  Thank you. :)</p>
<h1>ERROR : <%= message %></h1>
<h2>STATUS : <%= error.status %></h2>
<pre><%= error.stack %></pre>
</body>
</html>



